



:root {
    --primary: #7a4caf;        
    --heading-color: #b0b0c0;  
    --bg-shade: #1c1e25;       
    --github: #ff507e;         
    --darkblue: #101127;       
    --black: #000000;
    --white: #ffffff;
  }